<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145868170516-9hq1pupe4b19hhu0vh1ce15hqt5v0kr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145868170516-9hq1pupe4b19hhu0vh1ce15hqt5v0kr5</string>
	<key>API_KEY</key>
	<string>AIzaSyAkkRpLG32JhZ1fhqLpgU8Zyi6_eM1esWI</string>
	<key>GCM_SENDER_ID</key>
	<string>145868170516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMobileApp</string>
	<key>PROJECT_ID</key>
	<string>jiwjiw-34092</string>
	<key>STORAGE_BUCKET</key>
	<string>jiwjiw-34092.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145868170516:ios:ed842875b4de4f75ddce01</string>
</dict>
</plist>